.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__success-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 400px;

    h2 {
      margin-top: 10px;
      font-size: 22px;
      line-height: 25px;
      margin-bottom: 14px;
    }

    p {
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.1px;
      color: #202002;
      opacity: 0.5;
    }
  }

  &__register-link {
    text-align: center;
    display: block;
    color: #ADADAD;
    font-size: 16px;
    letter-spacing: 0.1px;
  }

  &__top {
    margin-bottom: 50px;
    text-align: center;

    h2 {
      font-size: 28px;
      margin-bottom: 5px;
    }

    p {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.1px;
      opacity: 0.5;
    }
  }

  button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    border-radius: 4px;
    width: 100%;
  }

  .block {
    width: 430px;
  }
}